{{#if logged}}
<nav class="navbar navbar-light bg-light pl-5">
  <a class="navbar-brand" href="#"><strong>SAMSUNG</strong></a>
  <a class="navbar-brand mr-auto" href="#tb">Table</a>
{{#if logged}}
  <a href="home/logout" class="btn btn-danger">Log out</a>
{{/if}}

</nav>
{{/if}}