<nav class="navbar navbar-light bg-light pl-5">
  <a class="navbar-brand" href="#">Samsung</a>
  <a href="home/logout" class="btn btn-danger">Log out</a>
</nav>

<div class="container">
    <div class="row">
{{#each products}}
       
        <div class="col-md-3 col-12 mt-4">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card border-0 ">
  <img src="{{this.image}}" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.category}}</p>
    <p class="card-text">{{this.price}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        </div>
        </div>
        {{/each}}
    </div>
</div>