<div class="container">
    {{#if loginErr}}
    <h2>check your Mail and password</h2>
    {{/if}}
<form action="admin/adminsign" method="post">
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control"name="email" id="inputEmail" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" value="submit" class="btn btn-primary">Sign in</button>

</form>
   </div>