<div class="container mt-5">
    <table class="table" id="productstable">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
      {{#each result}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Email}}</td>
      <td>{{this.Name}}</td>
            <td>
                <a href="/admin/deleteProduct/{{this._id}}" class="btn btn-danger">Delete</a>
                 <a href="" class="btn btn-primary">Edit</a>

                </td>

     {{/each}}
    </tr>
  </tbody>
</table>
</div>
<script>
  $(document).ready( function () {
    $('#productstable').DataTable();
} );
</script>