{{#if admin}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table" id="tb">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
    </tr>
   {{/each}}
  </tbody>
</table>
    </div>
  </div>
</div>
{{/if}}

<script>
  $(document).ready( function () {
    $('#tb').DataTable();
} );
</script>